<form class="form-wrapper" id="formParty" method="post">
  <div class="form-Intro">
    <h1>Создание события</h1>
  </div>

  <fieldset class="form-name">
    <legend>Create Event</legend>
    <div class="form-input-wrapper">
      <input id="title" name="title"  placeholder="Название события" >
      <label for="title">Event name</label>
    </div>
    <div class="error_alert">
      <p>{{{ validateError.title }}}</p>
    </div>

    <div class="form-input-wrapper">
      <input id="place" name="place"  placeholder="Место" >
      <label for="place">Где будет проходить? </label>
    </div>
    <div class="error_alert">
      <p>{{{ validateError.place }}}</p>
    </div>

    <div class="form-input-wrapper">
      <select id="userList" name="userList" multiple="multiple" >
        {{#>main}}
          {{#each users}}
          <option value={{{ _id }}}> {{{ userName }}} </option>
          {{/each}}
        {{/main}}
      </select>
      <label for="userList">Who do you want to invite?</label>
    </div>
    <div class="error_alert">
      <p>{{{ validateError.userList }}}</p>
    </div>

    <div class="form-input-wrapper">
      <select id="drinkList" name="drinkList" multiple="multiple" >
        {{#>main}}
          {{#each drinks}}
          <option value={{{ _id }}}> {{{ name }}} </option>
          {{/each}}
        {{/main}}
      </select>
      <label for="userList">Какие напитки будут?</label>
    </div>
    <div class="error_alert">
      <p>{{{ validateError.drinkList }}}</p>
    </div>


  </fieldset>

  <button id="submitBtn" class="form-submit-btn" type="submit"  value="Submit "> Create Event </button>
  <a href="/"> Передумал </a>
</form>
