




<div class="container">
  <div class="row">

    <div class="col right">
      Welcome!  {{{ userName }}}
      <a href="/logout">Log out</a>
    </div>
  </div>

  <div class="row flex-2">
    <div class="col-2 flex">
      <h2>Меня пригласили</h2>

      {{#>main}}
        {{#each myInvites}}
          <div class="invite">
            <h3 >{{{ title }}}</h3>
            <p>{{{ place }}}</p>

            {{#each invites}}
              <a href=/invite/{{{ _id }}}> Подробнее </a>
            {{/each}}
          </div>
        {{/each}}
      {{/main}}
     </div>

    <div class="col-2">
      <h2>Я пригласил</h2>
      <a href="/createEvent"> Создать событие </a>

      {{#>main}}
        {{#each events}}
        <h3> {{{title}}} </h3>
        <p>{{{place}}}</p>

        <p>Напитки:
        {{#each drinks}}
          {{{ name }}}
        {{/each}}
        </p>

           {{#each invites}}
           <div class="invite">
             <p><strong>{{{ userName }}}</strong>  (Отвечал: {{{ answered }}})</p>
             <p> Идет: {{{ isReady }}} </p>
             <p>
               {{#each drinks}}
                 {{{ name }}}
               {{/each}}
             </p>
             </div>
           {{/each}}
        {{/each}}
      {{/main}}

  <!--  <p>{{{events}}}</p>-->
    </div>
  </div>

</div>
