




<div class="container">
  <div class="row">

    <div class="col right">
      Welcome!  {{{ userName }}}
      <a href="/logout">Log out</a>
    </div>

  </div>




  <div class="row flex-2">

    <div class="col-2 flex">
      <h2>Меня пригласили</h2>

      {{#>main}}
        {{#each myInvites}}
          <div class="invite">
            <h3 >{{{ title }}}</h3>
            <p>{{{ place }}}</p>
            <hr>
          </div>


        {{/each}}

      {{/main}}

      <p>{{{myInvites}}}</p>


    </div>

    <div class="col-2">
      <h2>Я пригласил</h2>
      <a href="/createEvent"> Создать событие </a>

      {{#>main}}
        {{#each events}}
        <h3> {{{title}}} </h3>
        <p>{{{place}}}</p>
        <strong>Приглашены</strong>

         {{#>main}}
           {{#each invites}}
             <p>{{{ userName }}} --- {{{ isReady }}} --- {{{ drinks }}}</p>
           {{/each}}
         {{/main}}
         <hr>

        {{/each}}
      {{/main}}

    <p>{{{events}}}</p>
    </div>



  </div>

</div>
