




<div class="container">
  <div class="row">

    <div class="col right">
      Welcome!  {{{ userName }}}
      <a href="/logout">Log out</a>
    </div>

  </div>

  <div class="row">
    <div class="board">
      <a href="/createEvent"> Создать событие </a>
      <p>Raw Data</p>
    <p>  {{{events}}}</p>

      {{#>main}}
        {{#each events}}
        <p>  {{{_id}}}  {{{title}}} {{{place}}} {{{drinks}}} {{userList}}</p>
        {{/each}}
      {{/main}}

    </div>

  </div>
</div>
